/* .friends{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;


}
.friends .search{
    display: flex;
    justify-content: center;
    align-items: center;
}

#data ul li a{
    font-size: 25px;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 15px;
}

#data ul li img{
    border-radius: 10px;
    border: 2px solid lightblue;
    height: 50px;
    width: 50px;
} */



.profile-details{
    background: var(--bg-color);
    padding: 20px;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    margin: 10px 0px 10px 0px;
}
.pd-row{
    display: flex;
    align-items: flex-start;
}
.pd-image{
    width: 100px;
    margin-right: 20px;
    border-radius: 6px;
}

.pd-row div h3{
    font-size: 25px;
    font-weight: 600;
}
.pd-row div p{
    font-size: 13px;
      
}
.pd-row div img{
    width: 25px;
    border-radius: 50%;
    margin-top: 12px;
}
.pd-right button{
    background: #1876f2;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
}
.pd-right button img{

    height: 15px;
    margin-right: 10px;
}
.pd-right button:first-child{
    background: #e4e6eb;
    color: #000;
}
.pd-right{
    text-align: right;
}
.pd-right a{
    background:#e4e6eb;
    border-radius: 3px;
    padding: 12px;
    display: inline-flex;
    margin-top: 30px;
}
.pd-right a img{
    width: 20px;
}
