
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(24, 25, 26);
    color: white;
}

#main-content{
    background-color: red;
   
    height: 500px;
    width: 200px;
  }
/* #main{
    background-color: teal;
    height: auto;
    width: 98vw;
    overflow-x: hidden;
    overflow: scroll;
} */

               /* menu bar design start*/
/* .menu-bar{
    position: fixed;
    top: 30px;
    right: 30px;
}    */
/* .menu-bar .icon button{
    font-size: 30px;
    width: 60px;
    height: 60px;
} */

             /* site bar design end*/

            /* top bar design start*/
.top-bar{
    /* background-color:  rgb(60,64,67); */
    background-color: rgb(24, 25, 26);
    width: 100%;
    height: 60px;
    display: flex;
    position: fixed;
}
.top-bar header{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 10px;
}
.top-bar header strong{
    font-size: 30px;
    letter-spacing: 2px ;
}
.top-bar .bar-right-item{
    width: 70%;
  
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 15px;
    
}
/* .top-bar .bar-right-item .bar{
    background-color: lightgray;
    width: 70px;
    height: 50px;
    padding-right: 100px;
} */

.top-bar .bar-right-item .bar .dropdown button{
    font-size: 35px;
    color: white;
  
    height: 50px;
    margin: 0px 5px 7px 0px;
  }

  .top-bar .bar-right-item .bar .dropdown ul a{
    font-size: 20px;
    
  }
  .top-bar .bar-right-item .bar .dropdown ul a i{
    margin-right: 10px;
    
  }

  

.top-bar .bar-right-item .user-profile{
   
   border-radius: 25px;
   padding-right: 10px;
   margin-right: 20px;
   height: 40px;
   width: auto;
   align-items: center;
   justify-content: center;
   display: block;
   overflow: hidden;
   border-right: 1px solid rgb(255, 255, 255);
  
}

 .top-bar .bar-right-item .user-profile img{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid white;
    
 }

.top-bar .bar-right-item .user-profile strong{
    font-size: 20px;
    padding-left: 10px;
}

.top-bar .bar-right-item .notification{
    margin-right: 20px;
    margin-left: 20px;
}
.top-bar .bar-right-item .notification button i{
    color: white;
    font-size: 30px;
}




            /* top bar design end*/






            /* site bar design start*/
.site-bar{
   
    height: auto;
    width: 70px;
    right: 5px;
    bottom: 23vh;
    position: fixed;
    overflow: auto;
    text-align: center;
    border-radius: 5px;
    z-index: 100;
   

}
/* .site-bar .nav_bar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightcoral;

    
} */

.site-bar button{
    background-color: white;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 60px;
    border-radius: 50%;
    
}

             /* site bar design end*/



@media (max-width: 991px){
    /* .top-bar{
       display: none;
    } */
    /* site bar start */
    .site-bar{
        background-color: rgb(36, 37, 38);
        bottom: 0px;
        width: 100vw;
        height: auto;
        margin: 0px;
        padding: 0px;
        right: 0px;
        border-radius: 0px;
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }
    .site-bar button{
 
        font-size: 30px;
        margin: 0px;
         margin-left: 5px;
        margin-bottom: 0px;
        text-align: center;
        width: 20%;
        /* border-radius: 2px; */
        background-color: rgb(36,37,38);
        color: white;
        
    }
    .site-bar button:hover{
        color: white;
    }
              /* site bar start */

    

    .top-bar .bar-right-item{
  
        width: 85%;
        
    }
    .top-bar header{
        width: 15%;
    }
    .top-bar header a{
        display: none; 
    }
    .top-bar .bar-right-item .search{
        display: none;
    }
    /* .top-bar .bar-right-item .notification{
        display: none;
    } */
}