/* .line{
    z-index: -1;
    height: 2px;
    background-color: whitesmoke;
    margin: 30px, 0px, 30px, 0px;
} */
.left-col {
    background-color: rgb(60, 64, 67);
    padding: 20px;
    height: 100vh;
    position: fixed;
  }

  .left-col p {
    color: white;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
  }

  .left-col p:hover {
    background-color: rgb(58, 59, 60);
    border: 1px solid white;
    border-radius: 5px;
  }

  .left-col p i {
    padding-right: 10px;
  }

  /* .right-col {
    background-color: #132429fa;
  } */
  /* .general-setting{
      display: none;
  } */
  .security-setting{
      display: none;
  }
  .security-setting .input-field{
      width: 50%;
      margin: auto;
  }
  /* .security-form{
      width: 50%;
  } */
  .hide{
      display: none;
  }
  .show{
      display: block;
  }

  @media (max-width: 991px){
    /* body {
    height: auto;
    width: 100%;
  } */
  .left-col{
      display: none;
  }
  .general-setting{
      border: 1px solid white;
  }
  .security-setting{
      display: block;
      border: 1px solid white;
      margin-top: 100px;
  }
  .security-form{
      width: 100%;
  }
  
    
}